{% include head.html %}

<body>

  {% include nav.html %}

  <main id="main">
    <!-- ======= Providers Section ======= -->
    <section id="doctors" class="doctors contact-page-content-section providers-detail">
      <div class="container">
    
        <div class="section-title">
          <h2>​Providers</h2>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/katherine-katsoyannis.jpeg"
                class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Katherine Katsoyannis</h4>
              <p> M.D.</p>
              <p>Dr. Katsoyannis received her medical degree from Mt. Sinai School of Medicine now Carl Icahn. She then
                completed an Internal Medicine residency and fellowship in Geriatric Medicine at North Shore University
                Hospital in New York. She is board certified in Internal Medicine and Geriatric Medicine. Dr.Katsoyannis is
                also credentialed and affiliated with Advocate Aurora Healthcare and Northshore University Health system.
                She owns and operates her own private medical practice in Park Ridge, IL, and serves as medical director at
                multiple residential facilities for seniors. She partners with the local hospitalist group when
                hospitalization is necessary and maintains open communication with providers, patients, and families. She
                enjoys caring for patients in a collaborative manner promoting their well-being. She believes in an
                educational approach with a soft gentle touch through each step of the treatment with every patient. Dr.
                Katsoyannis is also fluent in the greek language.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/bazan1.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Andrea Bazan</h4>
              <p>M.D.</p>
              <p>Dr. Bazan received her medical degree at Chicago Medical School in 1994. She then completed her Internal
                Medicine residency at Rush Presbyterian St. Luke’s in Chicago in 1997. She is constantly researching and
                evolving her craft by continuing education. She takes a multidisciplinary approach to healthy aging so as to
                incorporate lifestyle, nutrition & fitness into her patient’s treatment plans.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/nehme-1.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Nadine Nehme</h4>
              <p>M.D.</p>
              <p>Dr. Nehme is board certified in internal medicine. She has over 20 years of experience in both inpatient
                and outpatient medicine.
                She did her medical school at the University of Geneva, Switzerland and then completed a residency in
                internal medicine at Saint Joseph Hospital in Chicago. Dr. Nehme is also fluent in the French and Arabic
                languages.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/carissa.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Carissa Griffith</h4>
              <p>PA-C.</p>
              <p>Carissa Griffith PA-C, is a Physician Assistant specializing in adult medicine. She graduated from Rose
                Hulman Institute of Technology with a Bachelor of Science in Mechanical Engineering and subsequent- ly from
                Clemson University with a Master of Science in Bioengineering. She completed her physician assistant studies
                at Midwestern University in 2008. Carissa
                started working with Dr. Katherine Katsoyannis in 2009. She is known for her caring, gentle touch, and
                patience.</p>
            </div>
          </div>
        </div>
      
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/jenny.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Jenny Yohannan</h4>
              <p>APN</p>
              <p>Jenny Yohannan is on staff with Gericare Ltd. as a nurse practitioner. She graduated in 2020 from the
                University of Saint Francis in IL and has over 10 years of experience in nursing. Her experience ranges from
                critical care inpatient hospital settings through primary care outpatient settings. More recently she has
                been working in various facilities in IL such as
                skilled nursing facilities, assisted living facilities, memory care and independent living facilities. Her
                passion is to improve patient outcomes and provide best in class care plans in collaboration with families
                and other medical professionals. With a heavy background in critical care she is able to quickly assess risk
                to provide patient care that entails performing a thorough comprehensive physical assessment, accurately
                diagnosing, and implementing a treatment plan that optimizes patient care.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/maria.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Maria Derylo</h4>
              <p>DNP-APN</p>
              <p>Dr Maria Derylo DNP, MSN, APN-BC, is a dedicated Professor and Nurse Practitioner with over 25 years of
                experience providing Care in hospital and clinical environments. Her background includes teaching, research,
                Management, geriatrics, public health, and occupational health in the medical/surgical And obstetric areas.
                She has received her post-master’s Adult NP
                certificate from University of Nebraska Medical Center, Omaha, and Her Doctor of Nursing Practice from Case
                Western Reserve University in Cleveland, Ohio. Maria is also fluent in the Polish, Russian, and German
                languages.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/debbie.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Debra Fox</h4>
              <p>FNP-BC</p>
              <p>Debra Fox, FNP-BC, specializing in Adult Medicine. She graduated from The College of Mount Saint Vincent
                with a BSN and a minor in Biochemistry. She completed her Masters at Long Island University as a Family
                Nurse Practitioner. Prior to
                joining Gericare, she worked in Hospice and Palliative Care for the adult and pediatric population. She has
                over 20 years
                nursing experience. Debra is known as a strong patient advocate. She is described as a little bit funny as
                she knows that laughing is some
                of the best medicine.</p>
            </div>
          </div>
        </div>
    
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/mtheodore-head-shot.jpeg"
                class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Melissa Theodore</h4>
              <p>APN</p>
              <p>Melissa Theodore has been a Nurse Practitioner for 10 years. She trained at Rush University and has spent
                her career caring for patients residing in assisted living communities and long-term care. Melissa
                specializes in chronic disease management and advanced care planning. She enjoys partnering with families,
                patients and facility staff to provide the best
                and most compassionate patient care possible.</p>
            </div>
          </div>
        </div>
    
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/junine-1.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Junine DeGraf</h4>
              <p>APN</p>
              <p>Junine DeGraf APN is a Nurse Practitioner with over 20 years of clinical experience as a primary care
                provider.
                She has worked locally in the hospital, skilled nursing facilities, assisted living facilities, memory care
                and
                independent living facilities. Her special interests include geriatric medicine, prevention, and nutrition,
                management of chronic kidney disease, hypertension, and
                electrolyte disorders. She enjoys building relationships and is committed to working with patients,
                families,
                facilities, office staff and approach to care for her patients.</p>
            </div>
          </div>
        </div>
        <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/Merchant.jpg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Merchant Adams</h4>
              <p>APN</p>
              <p>Merchant Adams is a nurse practitioner with full practice authority in Illinois.
                Previously trained as a studio artist with an MFA from the School of the Art Institute, Merchant was a practicing artist with extensive teaching experience at the university level for nearly 15 years before changing his career.
                He received his NP certification through the University of Illinois at Chicago. 
                He has several years of experience managing health care in skilled nursing facilities. 
                Merchant is a published writer specializing in art criticism and Early Netherlandish painting.  
                He also holds a black belt in Brazilian Jiu-jitsu. Merchant is conversational in Spanish.</p>
            </div>
          </div>
        </div>
                <div class="row member align-items-center"> <!-- profile row -->
          <div class="col-md-3"> <!-- pic column -->
            <div class="pic d-flex justify-content-center"><img src="/assets/img/providers/bonnie.jpg" class="img-fluid"
                alt="">
            </div>
          </div>
          <div class="col-md-9"> <!-- description column -->
            <div class="member-info">
              <h4>Bonnie</h4>
              <p>APN</p>
              <p>Bonnie Lee is a Nurse Practitioner specializing in adult medicine. Her nursing training began in South Korea, and she
                later achieved her BSN and MSN degrees from North Park University. Bonnie’s nursing career spans over 40 years, in
                diverse backgrounds including inpatient and outpatient care, work in surgical units, wound care, aesthetics, and
                geriatric care. Most recently she has joined Dr. Katsoyannis’ team, providing care at residential facilities. She
                values building strong relationships with her patients and facility staff members to deliver the best care possible.
                Bonnie is fluent in Korean with full practice authority in Illinois. In her free time you will most likely find her
                crafting or visiting her grandchildren in San Diego.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Providers Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>